{% extends 'base.html.twig' %}

{% block body %}

   <section id="slideslow-bg">

      <div class="container">
         <div class="row">
            <div class="col-lg-12 text-center">
               <div class="slideshowcontent">
                  <div class="display-table">
                     <div class="display-table-cell">
                        <h1>Réserver une voiture aujourd'hui</h1>
                        <p>Bienvenue dans nos différents services, OFFRE SPECIALE remise 15% sur les services taxi et transporteur pour Célébrer le déconfinement et l'extinction du covid-19  <br> FOR OUR RETURNING CUSTOMERS #STAY SAFE</p>

                        <div class="book-ur-car">
                           <form action="index2.html" style="padding-left: 250px">

                              <div class="bookcar-btn bookinput-item">
                                 <button type="submit">Taxi</button>
                              </div>
                              <div class="bookcar-btn bookinput-item">
                                 <button type="submit">Transporteur</button>
                              </div>
                              <div class="bookcar-btn bookinput-item">
                                 <button type="submit">Covoiturage</button>
                              </div>


                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--== SlideshowBg Area End ==-->

   <!--== About Us Area Start ==-->
   <section id="about-area" class="section-padding">
      <div class="container">
         <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
               <div class="section-title  text-center">
                  <h2>à propos de nous</h2>
                  <span class="title-line"><i class="fa fa-car"></i></span>
                  <p>Driver est une application multiplateformes vous permettant de reserver un taxi , transporteur ou même participer ou créer un covoiturage.</p>
               </div>
            </div>
            <!-- Section Title End -->
         </div>


         <!-- About Fretutes Start -->
         <div class="about-feature-area">
            <div class="row">
               <!-- Single Fretutes Start -->
               <div class="col-lg-4">
                  <div class="about-feature-item active">
                     <i class="fa fa-car"></i>
                     <h3>TAXI</h3>
                     <p>taxi en Tunisie est un élément essentiel pour se déplacer dans les villes tunisiennes. En effet, il y a des taxis dans chaque ville du pays, quasiment à toute heure, et le coût reste modique pour un européen ou un touriste.</p>
                  </div>
               </div>
               <!-- Single Fretutes End -->

               <!-- Single Fretutes Start -->
               <div class="col-lg-4">
                  <div class="about-feature-item">
                     <i class="fa fa-car"></i>
                     <h3>TRANSPORTEUR</h3>
                     <p>dirigé par notre entreprise DRIVER, transporteur est un service spécialisée dans le transport de personnes, de marchandises et également les meubles de toutes les tailles pour les demandes de déménagement.</p>
                  </div>
               </div>
               <!-- Single Fretutes End -->

               <!-- Single Fretutes Start -->
               <div class="col-lg-4">
                  <div class="about-feature-item">
                     <i class="fa fa-car"></i>
                     <h3>COVOITURAGE</h3>
                     <p>utilisation conjointe et organisée (à la différence de l'auto-stop) d'une voiture automobile, par un conducteur non professionnel et un ou plusieurs tiers passagers, dans le but d'effectuer un trajet commun.</p>
                  </div>
               </div>
               <!-- Single Fretutes End -->
            </div>
         </div>
         <!-- About Fretutes End -->
      </div>
   </section>
   <!--== About Us Area End ==-->

   <!--== Partner Area Start ==-->
   <div id="partner-area" style="background-color: #495057">

   </div>
   <!--== Partner Area End ==-->

   <!--== Services Area Start ==-->
   <section id="service-area" class="section-padding">
      <div class="container">
         <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
               <div class="section-title  text-center">
                  <h2>NOS SERVICES</h2>
                  <span class="title-line"><i class="fa fa-car"></i></span>
                  <p>Admirez nos différents services et nouveautés .</p>
               </div>
            </div>
            <!-- Section Title End -->
         </div>

         <!-- Service Content Start -->
         <div class="row">
            <div class="col-lg-11 m-auto text-center">
               <div class="service-container-wrap">
                  <!-- Single Service Start -->

                  <!-- Single Service End -->

                  <!-- Single Service Start -->
                  <div class="service-item">
                     <i class="fa fa-cog"></i>
                     <h3>Reparation vehicule</h3>
                     <p>Service d’entretien mécanique, Si la mécanique du véhicule devait bel et bien se coincer, les experts de DRIVER la relancent avec une technologie de contrôle des plus modernes </p>
                  </div>
                  <!-- Single Service End -->

                  <!-- Single Service Start -->
                  <div class="service-item">
                     <i class="fa fa-map-marker"></i>
                     <h3>TAXI SERVICE</h3>
                     <p>le transport n'a jamais été plus facile, rapide et efficace avec des prix convenables pour tous nos chers clients.</p>
                  </div>
                  <!-- Single Service End -->

                  <div class="service-item">
                     <i class="fa fa-map-marker"></i>
                     <h3>TRANSPORTEUR SERVICE</h3>
                     <p>Quels que soient le temps et le budget que vous souhaitez consacrer à votre déménagement, la société DRIVER est à votre service.</p>
                  </div>

                  <!-- Single Service Start -->
                  <div class="service-item">
                     <i class="fa fa-life-ring"></i>
                     <h3>GARAGE</h3>
                     <p>notre garage s'occupe également de tous les entretiens des vehicules de DRIVER pour assurer le maintien de votre confort et votre sécurité.</p>
                  </div>
                  <!-- Single Service End -->

                  <!-- Single Service Start -->
                  <div class="service-item">
                     <i class="fa fa-bath"></i>
                     <h3>LAVAGE AUTO</h3>
                     <p>Bien évidemment la propreté des vehicule est une des priorités pour nous ceci contribue à la satisfaction de nos chers clients.</p>
                  </div>
                  <!-- Single Service End -->

                  <!-- Single Service Start -->
                  <div class="service-item">
                     <i class="fa fa-phone"></i>
                     <h3>Appeler chauffeur</h3>
                     <p>notre équipe de chauffaures est disponible 24/24 il est possible bien évidément de contacter un chauffeur a tout moment.</p>
                  </div>
                  <!-- Single Service End -->
               </div>
            </div>
         </div>
         <!-- Service Content End -->
      </div>
   </section>
   <!--== Services Area End ==-->

   <!--== Fun Fact Area Start ==-->
   <section id="funfact-area" class="overlay section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-11 col-md-12 m-auto">
               <div class="funfact-content-wrap">
                  <div class="row">
                     <!-- Single FunFact Start -->
                     <div class="col-lg-4 col-md-6">
                        <div class="single-funfact">
                           <div class="funfact-icon">
                              <i class="fa fa-smile-o"></i>
                           </div>
                           <div class="funfact-content">
                              <p><span class="counter">550</span>+</p>
                              <h4>CLIENTS SATISFAITS</h4>
                           </div>
                        </div>
                     </div>
                     <!-- Single FunFact End -->

                     <!-- Single FunFact Start -->
                     <div class="col-lg-4 col-md-6">
                        <div class="single-funfact">
                           <div class="funfact-icon">
                              <i class="fa fa-car"></i>
                           </div>
                           <div class="funfact-content">
                              <p><span class="counter">250</span>+</p>
                              <h4>VOITURES EN STOCK</h4>
                           </div>
                        </div>
                     </div>
                     <!-- Single FunFact End -->

                     <!-- Single FunFact Start -->
                     <div class="col-lg-4 col-md-6">
                        <div class="single-funfact">
                           <div class="funfact-icon">
                              <i class="fa fa-bank"></i>
                           </div>
                           <div class="funfact-content">
                              <p><span class="counter">10</span>+</p>
                              <h4>LOCAUX AU PAYS</h4>
                           </div>
                        </div>
                     </div>
                     <!-- Single FunFact End -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--== Fun Fact Area End ==-->

   <!--== Choose Car Area Start ==-->
   <section id="team-area" class="section-padding">
      <div class="container">
         <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
               <div class="section-title  text-center">
                  <h2>lES MEMBRES DE NOTRE EQUIPE</h2>
                  <span class="title-line"><i class="fa fa-car"></i></span>
                  <p>fondateurs de l'entreprise DRIVER</p>
               </div>
            </div>
            <!-- Section Title End -->
         </div>

         <div class="row">
            <div class="col-lg-12">
               <div class="team-content">
                  <div class="row">
                     <!-- Team Tab Menu start -->
                     <div class="col-lg-4">
                        <div class="team-tab-menu">
                           <ul class="nav nav-tabs" id="myTab" role="tablist">
                              <li class="nav-item">
                                 <a class="nav-link active" id="tab_item_1" data-toggle="tab" href="#team_member_1" role="tab" aria-selected="true">
                                    <div class="team-mem-icon">
                                       <img src="{{ asset('bundleAdmin/img/iyadh.png') }}" alt="JSOFT">
                                    </div>
                                    <h5>Med Iyadh Tajouri</h5>
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" id="tab_item_2" data-toggle="tab" href="#team_member_2" role="tab" aria-selected="true">
                                    <div class="team-mem-icon">
                                       <img src="{{ asset('bundleAdmin/img/samy.png') }}" alt="JSOFT">
                                    </div>
                                    <h5>Samy Bejaoui</h5>
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" id="tab_item_3" data-toggle="tab" href="#team_member_3" role="tab" aria-selected="true">
                                    <div class="team-mem-icon">
                                       <img src="{{ asset('bundleAdmin/img/alaa.png') }}" alt="JSOFT">
                                    </div>
                                    <h5>Alaa Dachraoui</h5>
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" id="tab_item_4" data-toggle="tab" href="#team_member_4" role="tab" aria-selected="true">
                                    <div class="team-mem-icon">
                                       <img src="{{ asset('bundleAdmin/img/aziz.png') }}"  alt="JSOFT">
                                    </div>
                                    <h5>Aziz Bousselmi</h5>
                                 </a>
                              </li>

                              <li class="nav-item">
                                 <a class="nav-link" id="tab_item_5" data-toggle="tab" href="#team_member_5" role="tab" aria-selected="true">
                                    <div class="team-mem-icon">
                                       <img src="{{ asset('bundleAdmin/img/barhoumi.png') }}"  alt="JSOFT">
                                    </div>
                                    <h5>Mohamed Barhoumi</h5>
                                 </a>
                              </li>

                              <li class="nav-item">
                                 <a class="nav-link" id="tab_item_6" data-toggle="tab" href="#team_member_6" role="tab" aria-selected="true">
                                    <div class="team-mem-icon">
                                       <img src="{{ asset('bundleAdmin/img/mehdi.png') }}"  alt="JSOFT">
                                    </div>
                                    <h5>Mehdi Hechmi</h5>
                                 </a>
                              </li>

                           </ul>
                        </div>
                     </div>
                     <!-- Team Tab Menu End -->

                     <!-- Team Tab Content start -->
                     <div class="col-lg-8">
                        <div class="tab-content" id="myTabContent">
                           <!-- Single Team  start -->
                           <div class="tab-pane fade show active" id="team_member_1" role="tabpanel" aria-labelledby="tab_item_1">
                              <div class="row">
                                 <div class="col-lg-6 col-md-6">
                                    <div class="team-member-pro-pic">
                                       <img src="{{ asset('bundleAdmin/img/iyadh.png') }}" alt="JSOFT">
                                    </div>
                                 </div>
                                 <div class="col-lg-6 col-md-6">
                                    <div class="team-member-info text-center">
                                       <h4>Med Iyadh Tajouri</h4>
                                       <h5>CEO et Directeur general </h5>
                                       <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                       <p>président-directeur général, apporte son point de vue et son expertise sur l’ensemble des activités (production, ventes, services, ressources humaines, etc...).</p>
                                       <div class="team-social-icon">
                                          <a href="#"><i class="fa fa-facebook"></i></a>
                                          <a href="#"><i class="fa fa-twitter"></i></a>
                                          <a href="#"><i class="fa fa-linkedin"></i></a>
                                          <a href="#"><i class="fa fa-pinterest"></i></a>
                                          <a href="#"><i class="fa fa-dribbble"></i></a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- Single Team  End -->

                           <!-- Single Team  start -->
                           <div class="tab-pane fade" id="team_member_2" role="tabpanel" aria-labelledby="tab_item_2">
                              <div class="row">
                                 <div class="col-lg-6 col-md-6">
                                    <div class="team-member-pro-pic">
                                       <img src="{{ asset('bundleAdmin/img/samy.png') }}" alt="JSOFT">
                                    </div>
                                 </div>
                                 <div class="col-lg-6 col-md-6">
                                    <div class="team-member-info text-center">
                                       <h4>Samy Bejaoui</h4>
                                       <h5>Développeur</h5>
                                       <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                       <p>son rôle de développeur est stratégique au sein de l'entreprise, les compétences en développement deviennent une clé de différenciation.</p>
                                       <div class="team-social-icon">
                                          <a href="#"><i class="fa fa-facebook"></i></a>
                                          <a href="#"><i class="fa fa-twitter"></i></a>
                                          <a href="#"><i class="fa fa-linkedin"></i></a>
                                          <a href="#"><i class="fa fa-pinterest"></i></a>
                                          <a href="#"><i class="fa fa-dribbble"></i></a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- Single Team  End -->

                           <!-- Single Team  start -->
                           <div class="tab-pane fade" id="team_member_3" role="tabpanel" aria-labelledby="tab_item_3">
                              <div class="row">
                                 <div class="col-lg-6 col-md-6">
                                    <div class="team-member-pro-pic">
                                       <img src="{{ asset('bundleAdmin/img/alaa.png') }}"  alt="JSOFT">
                                    </div>
                                 </div>
                                 <div class="col-lg-6 col-md-6">
                                    <div class="team-member-info text-center">
                                       <h4>Alaa Dachraoui</h4>
                                       <h5>CFO (Chief Financial Officer)</h5>
                                       <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                       <p>exclusivement chargé de la gestion financière de l’entreprise.</p>
                                       <div class="team-social-icon">
                                          <a href="#"><i class="fa fa-facebook"></i></a>
                                          <a href="#"><i class="fa fa-twitter"></i></a>
                                          <a href="#"><i class="fa fa-linkedin"></i></a>
                                          <a href="#"><i class="fa fa-pinterest"></i></a>
                                          <a href="#"><i class="fa fa-dribbble"></i></a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- Single Team  End -->

                           <!-- Single Team  start -->
                           <div class="tab-pane fade" id="team_member_4" role="tabpanel" aria-labelledby="tab_item_4">
                              <div class="row">
                                 <div class="col-lg-6 col-md-6">
                                    <div class="team-member-pro-pic">
                                       <img  src="{{ asset('bundleAdmin/img/aziz.png') }}" alt="JSOFT">
                                    </div>
                                 </div>
                                 <div class="col-lg-6 col-md-6">
                                    <div class="team-member-info text-center">
                                       <h4>Aziz Bousselmi</h4>
                                       <h5>Développeur</h5>
                                       <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                       <p>son rôle de développeur est stratégique au sein de l'entreprise, les compétences en développement deviennent une clé de différenciation.</p>
                                       <div class="team-social-icon">
                                          <a href="#"><i class="fa fa-facebook"></i></a>
                                          <a href="#"><i class="fa fa-twitter"></i></a>
                                          <a href="#"><i class="fa fa-linkedin"></i></a>
                                          <a href="#"><i class="fa fa-pinterest"></i></a>
                                          <a href="#"><i class="fa fa-dribbble"></i></a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>


                           <div class="tab-pane fade" id="team_member_5" role="tabpanel" aria-labelledby="tab_item_5">
                              <div class="row">
                                 <div class="col-lg-6 col-md-6">
                                    <div class="team-member-pro-pic">
                                       <img  src="{{ asset('bundleAdmin/img/barhoumi.png') }}" alt="JSOFT">
                                    </div>
                                 </div>
                                 <div class="col-lg-6 col-md-6">
                                    <div class="team-member-info text-center">
                                       <h4>Mohamed Barhoumi</h4>
                                       <h5>Responsable RH</h5>
                                       <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                       <p>coordonne la mise en place des décisions stratégiques de l’entreprise en matière de ressources humaines. Il assure le suivi administratif des dossiers du personnel et gère les compétences individuelles des collaborateurs.</p>
                                       <div class="team-social-icon">
                                          <a href="#"><i class="fa fa-facebook"></i></a>
                                          <a href="#"><i class="fa fa-twitter"></i></a>
                                          <a href="#"><i class="fa fa-linkedin"></i></a>
                                          <a href="#"><i class="fa fa-pinterest"></i></a>
                                          <a href="#"><i class="fa fa-dribbble"></i></a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>

                           <div class="tab-pane fade" id="team_member_6" role="tabpanel" aria-labelledby="tab_item_6">
                              <div class="row">
                                 <div class="col-lg-6 col-md-6">
                                    <div class="team-member-pro-pic">
                                       <img  src="{{ asset('bundleAdmin/img/mehdi.png') }}" alt="JSOFT">
                                    </div>
                                 </div>
                                 <div class="col-lg-6 col-md-6">
                                    <div class="team-member-info text-center">
                                       <h4>Mehdi Hechmi</h4>
                                       <h5>Développeur</h5>
                                       <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                       <p>son rôle de développeur est stratégique au sein de l'entreprise, les compétences en développement deviennent une clé de différenciation.</p>
                                       <div class="team-social-icon">
                                          <a href="#"><i class="fa fa-facebook"></i></a>
                                          <a href="#"><i class="fa fa-twitter"></i></a>
                                          <a href="#"><i class="fa fa-linkedin"></i></a>
                                          <a href="#"><i class="fa fa-pinterest"></i></a>
                                          <a href="#"><i class="fa fa-dribbble"></i></a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>

                           <!-- Single Team  End -->
                        </div>
                     </div>
                     <!-- Team Tab Content End -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <div id="mobileapp-video-bg"></div>
   <section id="mobile-app-area">
      <div class="container">
         <div class="row">
            <div class="col-lg-6">
               <div class="mobile-app-content">
                  <h3 style="color: whitesmoke">BIENTÔT NOTRE APPLICATION <h2>DRIVER</h2></h3>
                  <h3 style="color: whitesmoke">RESTEZ À L'ÉCOUTE POUR ÉCONOMISER 30%</h3>
                  <p>Facile &amp; Rapide - Réservez une voiture en 60 secondes</p>
                  <div class="app-btns">
                     <a href="#"><i class="fa fa-android"></i> Android Store</a>
                     <a href="#"><i class="fa fa-apple"></i> Apple Store</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>





   <!--== Scroll Top Area Start ==-->
   <div class="scroll-top">
      <img src=" {{ asset('img/scroll-top.png') }}" alt="JSOFT">
   </div>
{% endblock %}

{% block stylesheets %}
   <style>
      body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
      h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
      h1 { font-size: 36px; }
      h2 { font-size: 21px; margin-bottom: 1em; }
      p { margin: 0 0 1em 0; }
      a { color: #0000F0; }
      a:hover { text-decoration: none; }
      code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
      #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
      #container { padding: 2em; }
      #welcome, #status { margin-bottom: 2em; }
      #welcome h1 span { display: block; font-size: 75%; }
      #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
      #icon-book { display: none; }

      @media (min-width: 768px) {
         #wrapper { width: 80%; margin: 2em auto; }
         #icon-book { display: inline-block; }
         #status a, #next a { display: block; }

         @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
         @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
         .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
      }
   </style>
{% endblock %}
