{% extends 'back.html.twig' %}

{% block body %}
    <table>
        <tbody>
        <tr>
            <th>Distance</th>
            <td>{{ reservation.distance }}</td>
        </tr>
        <tr>
            <th>Depart</th>
            <td>{{ reservation.depart }}</td>
        </tr>
        <tr>
            <th>Arrive</th>
            <td>{{ reservation.arrive }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{% if reservation.date %}{{ reservation.date|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ reservation.type }}</td>
        </tr>
        <tr>
            <th>Tarif</th>
            <td>{{ reservation.tarif }}</td>
        </tr>
        <tr>
            <th>Etat</th>
            <td>{{ reservation.etat }}</td>
        </tr>
        <tr>
            <th>Chauffeur</th>
            <td>{{ reservation.idChauffeur.nom }}</td>
        </tr>
        <tr>
            <th>
                Meubles
            </th>
            <td>
                {% if meubles|length == 0 %}
                Cette reservation n'a aucun meuble
                {% else %}
                    {% set G =0 %}
                    {% set M =0 %}
                    {% set S =0 %}
                    {% for meuble in meubles %}
                        {% if meuble.taille|upper == 'grande'|upper %}
                            {% set G = G + 1 %}
                        {% endif %}
                        {% if meuble.taille|upper == 'petite'|upper %}
                            {% set S = S + 1 %}
                        {% endif %}
                        {% if meuble.taille|upper == 'moyenne'|upper %}
                            {% set M = M + 1 %}
                        {% endif %}
                    {% endfor %}
                    Cette reservation a {{ G }} grands meubles, {{ M }} moyens et  {{ S }} petits.
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('taxis_back') }}">Retour vers la liste des reservations des taxis</a>
        </li>
    </ul>
{% endblock %}
